body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: gray;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#details {
  display: block;
}

#details div {
  float: left;
  text-align: center;
  background-color: red;
  width: 25%;
}